<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>德威付款页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        body{margin: 10px;}

    </style>
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>付款单</legend>
</fieldset>

<form class="layui-form" action="">
    <div class="layui-container">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">OFFICE&nbspCODE</label>
            <div class="layui-input-inline">
                <select name="officeCode" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    <option value="DWTJ" selected="">DWTJ</option>
                    <option value="DWNB">DWNB</option>
                    <option value="DWGP">DWGP</option>
                    <option value="DWQD">DWQD</option>
                    <option value="DWHZ">DWHZ</option>
                    <option value="DWXM">DWXM</option>
                    <option value="DWNT">DWNT</option>
                    <option value="DWSA">DWSA</option>
                    <option value="DWNJ">DWNJ</option>
                    <option value="DWDL">DWDL</option>
                    <option value="DWSH">DWSH</option>


                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结算方式</label>
            <div class="layui-input-inline">
                <select name="paymentMethod" lay-verify="required" lay-search="">
                    <option value="F">快速</option>
                    <option value="N">普通</option>
                </select>
            </div>
        </div>

    </div>
    </div>
    <div class="layui-fluid">
    <div class="layui-row">
            <div class="layui-col-md5">
                <div class="layui-container">
                    <label class="layui-form-label">付款单位</label>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付类别</label>
                    <div class="layui-input-block">
                        <select name="interest" lay-filter="aihao">

                            <option value=""></option>
                            <option value="0">主营业务</option>
                            <option value="F" selected="">非主营业务</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">业务参考号</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="title"  autocomplete="off"  th:value="${yewu}" lay-filter="example" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付银行<span style="color:red;">* </span></label>
                    <div class="layui-input-block">
                        <select name="bank" lay-filter="bank">
                            <option value=""></option>
                            <option value="0">招商银行</option>
                            <option value="1" selected="">中国银行</option>
                            <option value="2">浦发银行</option>
                            <option value="3">中国工商银行</option>
                            <option value="4">交通银行</option>
                            <option value="5">中国光大银行</option>
                            <option value="6">中信银行</option>
                            <option value="7">广发银行</option>
                            <option value="8">中国建设银行</option>
                            <option value="9">兴业银行</option>
                            <option value="10">平安银行</option>

                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">付方账号<span style="color:red;">* </span></label>
                    <div class="layui-input-inline">
                        <select name="fufangzhanghao" lay-verify="required" lay-search="" lay-filter="fufangAccount">
                            <option value="1">layer</option>
                            <option value="2">form</option>
                            <option value="3">layim</option>
                            <option value="4">element</option>
                            <option value="5">laytpl</option>

                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="zhanghaomingcheng" readonly="true" style="background-color: #f3f4f5"
                               autocomplete="off" placeholder="德威国际货运代理（上海）有限公司" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">开户地区</label>
                    <div class="layui-input-block">
                        <input type="text" name="kaihudif" readonly="true" style="background-color: #f3f4f5"
                               autocomplete="off" placeholder="上海市" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">发票信息<span style="color:red;">* </span></label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="faPiao" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">支付金额<span style="color:red;">* </span></label>
                        <div class="layui-input-inline">
                            <input type="money" name="zhifunumber" lay-verify="required|number" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">币种名称</label>
                        <div class="layui-input-inline">
                            <select type="text" name="moneyname" lay-verify="moneyname" autocomplete="off" class="layui-input">
                                <option value="1">RMB</option>
                                <option value="2">USD</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">业务类型</label>
                    <div class="layui-input-inline">
                        <select name="yewuleixing" lay-verify="required" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            <option value="N02031" selected="">直接支付</option>
                            <option value="N02030">支付</option>
                            <option value="N02040">集团支付</option>
                            <option value="N02041">直接集团支付</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">业务摘要</label>
                    <div class="layui-input-block">
                        <input type="text" name="yewuzhaiyao" autocomplete="off" placeholder="摘要" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用途<span style="color:red;">* </span></label>
                    <div class="layui-input-block">
                        <textarea name="yunTu" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-col-md5">

                <label class="layui-form-label">收款单位</label>

                <div class="layui-form-item">
                    <label class="layui-form-label">客户ID<span style="color:red;">* </span></label>
                    <div class="layui-input-block">
                        <select name="gukeID" lay-verify="required" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            <option value="1">layer</option>
                            <option value="2">form</option>
                            <option value="3">layim</option>
                            <option value="4">form</option>
                            <option value="5">layim</option>

                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">收方账号<span style="color:red;">* </span></label>
                    <div class="layui-input-block">
                        <input type="text" name="shoufangzhanghao" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">收方名称<span style="color:red;">* </span></label>
                    <div class="layui-input-block">
                        <input type="text" name="shoufangmingcheng" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">开户行名称<span style="color:red;">* </span></label>
                    <div class="layui-input-block">
                        <input type="text" name="kaihumingcheng" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">开户行地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="dizhi" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">收方省份<span style="color:red;">* </span></label>
                        <div class="layui-input-inline">
                            <input type="text" name="shengfeng" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">收方城市<span style="color:red;">* </span></label>
                        <div class="layui-input-inline">
                            <input type="text" name="city" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">收方县区<span style="color:red;">* </span></label>
                        <div class="layui-input-inline">
                            <input type="text" name="xianqu" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100px">期望提交日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">实际提交日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="date1" id="date1"  readonly="true" style="background-color: #f3f4f5" placeholder="yyyy-MM-dd"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">提交人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tijiaoren" autocomplete="off" placeholder="" readonly="true" style="background-color: #f3f4f5"  class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="beizhu" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>





<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="/static/jquery/jquery-3.4.1.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        var nowdate=new Date();
        //日期
        laydate.render({
            elem: '#date',
            type: 'datetime',
            value: nowdate,
            isInitValue: true
        });
        laydate.render({
            elem: '#date1',
            type: 'datetime'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,date: [
                /^(\d{4})[-\/](\d{1}|0\d{1}|1[0-2])([-\/](\d{1}|0\d{1}|[1-2][0-9]|3[0-1])) ([01][0-9]|[2][0-3]):[0-5][0-9]:[0-5][0-9]/
                ,'日期格式不正确'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        //初始化select
        $(function () {
              $.ajax({
                url:"/user/initSelect",
                method:"post",
                dateType:"JSON",
                success:function (date) {
                    var html="";
                    $.each(date,function (i,item) {
                        html += "<option value='"+i+"'>"+item+"</option>";
                    })
                    console.log(html)
                    $('select[name="fufangzhanghao"]').append(html);
                    //form.render('select','fufangAccount');
                    form.render('select')
                }

            });

        })
        //监听select
        form.on('select(fufangAccount)',function (date) {
           console.log("aasdwdsa")



        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            },function (index) {
                $.ajax({
                    url:"/user/mytest",
                    method:"post",
                    data:data.field,
                    dateType:"JSON",
                    success:function (dates) {
                        layer.close(index)
                    }



                });
            })

            return false;
        });





    });
</script>

</body>
</html>