<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
</head>
<body>
<div  class="layui-anim ayui-anim-fadein" style="display: inline-block; height:  auto;max-width: 100%" >
    <img src="/static/mystyles/20200417135015.jpg" style="display: inline-block; height:  auto;max-width: 100%">

    <!--<video src="https://wooow.xyz/videos/aerial/2.mp4" class="video-wallpaper" autoplay="" loop=""></video>-->
</div>

</body>
</html>